body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
dev{
    color: red;
    border: solid;
    display: block;
    background-color: bisque;
    font-style: italic;
    font-size: 1ch;
}


.game{
    text-align: center;
    height: 85vmin;
    width: 85vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5vmin;
}
.box{
    background-color: white;
    color: red;
    height: 15vmin;
    width: 15vmin;
    border-radius: 2.5mm;
    justify-content: center;
    align-items: center;
}

#reset{
    margin-top: 5vmin;
}

h2{
    color: green;
}

#rule{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5vmin;
    margin-right: 1vmin;
    float: right;
    background-color: yellow;
    border-radius: 2vmin;
    box-shadow: inset;
    align-items: center;
    font-size: 2.5vmin;
}